<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">{{title}}</a>
  </div>
</nav>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 mt-4">
      <ul class="list-group">
          <li 
          *ngFor="let empleado of listadoEmpleados" 
          (click)="mostrarEmpleado(empleado)"
          [class.active]="empleado == empleadoActivo"
          class="list-group-item list-group-item-action">
         <span class="badge bg-primary">{{empleado.id}}</span> {{empleado.nombre}} - {{empleado.pais}}
          </li>
      </ul>
      <div class="card mt-3">
        <div class="card-body">
          <div class="card-title">
              Inserta un nuevo empleado
          </div>
          <div class="form-group mt-2">
            <input [(ngModel)]="empleadoActivo.nombre"
             class="form-control"
             type="text" 
             placeholder="Nombre" 
             id="txt-nombre">
          </div>
          <div class="form-group mt-2">
            <input [(ngModel)]="empleadoActivo.pais"
             class="form-control"
             type="text" 
             placeholder="Pais" 
             id="txt-pais">
          </div>
          <input type="number" hidden [(ngModel)]="empleadoActivo.id" />
          <div class="mt-2">
              <button 
              (click)="guardar()"
              class="btn btn-primary btn-sm"
              >Guardar
              </button>

              <button 
              *ngIf="empleadoActivo.id !== 0"
              (click)="eliminar()"
              class="btn btn-danger btn-sm mx-2">
              Eliminar 
              </button>

              <button 
              *ngIf="empleadoActivo.id !== 0"
              (click)="desmarcar()"
              class="btn btn-warning btn-sm">
              Desmarcar
              </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <img
    alt="Angular Logo"
    width="300"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    </div>
  </div>
</div>

